.reveal section img {
  margin: 15px 0px;
  background:none;
  border: none;
  box-shadow: none;
}
.reveal h6 {
  margin: 0 0 0px 0;
  color: #b34f28;
  font-family: "League Gothic", Impact, sans-serif;
  font-weight: normal;
  font-size: 0.7em;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word;
}
div#mynetwork, div#tree_network {
  height: 500px;
}
